<h2 class="my-3 mx-5 text-center">Your Dashboard</h2>

{{#each posts as |post|}}
    <div class="d-flex justify-content-center">
        <section class="card my-3 mx-5 rounded col-9 col-sm-10">
            <p class="card-header"><a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/dashboard/edit/{{post.id}}">Edit Post</a></p>
            <div class="card-body">
            <h5>{{post.title}}</h5>
            <p>{{post.content}}</p>
            <p>Posted on {{format_date post.date_created}}</p>
            </div>
        </section>
    </div>
    {{/each}}
    <section class="d-flex justify-content-center">
        <button class="btn btn-info m-3" id="create-new">Create New Post</button>
    </section>

    <script src="/js/dashboard.js"></script>