<div class="d-flex justify-content-center">
<div class="card row m-3 col-10">
  <h2 class="card-header">Write your blog post!</h2>
  <form class="form p-3" id="new-post-form">
    <div class="mb-3">
      <label for="title-newpost" class="form-label">Title</label>
      <input class="form-control" type="text" id="title-newpost"/>
    </div>
    <div class="mb-2">
      <label for="content-newpost" class="form-label">Post Contents</label>
      <textarea class="form-control" rows="5" type="text" id="content-newpost"></textarea>
    </div>
    <div class="d-flex justify-content-center form-group">
      <button class="btn btn-info m-2" type="submit">Create</button>
    </div>
  </form>
</div>
</div>

<script src="/js/new.js"></script>